body{
 font-family: 'Poppins', sans-serif;
margin:0;
background-color: antiquewhite;
background-image: url("https://www.worldbank.org/content/dam/wbr/TAI/Seibu_Railway_30000.jpg");
  background-size: cover;        /* full screen */
    background-position: center;   /* center image */
    background-repeat: no-repeat;  /* no repeat */
    height: 100vh;
}

/* navbar */

.navbar{
background:#0077b6;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:flex-start;
}
.menu{
    display: flex;          /* makes buttons in one row */
    gap: 15px;              /* space between buttons */
    align-items: center;
}
.menu button{
   
margin:5px;
   padding: 12px 20px;   /* increase size */
    font-size: 16px;      /* increase text size */
border:black;
cursor:pointer;
font: size 30px;
}

/* sections */
#home h1{
    font-size: 40px;
}
#home p{
    font-size: 20px;
}

.section{
padding:30px;
text-align:center;
/* background-color: aquamarine; */
background: rgba(255,255,255,0.2);
backdrop-filter: blur(10px);
color: white;
}

/* features */

.features{
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}

.card{
background:aqua;
color:black;
padding:20px;
width:150px;
box-shadow:0 0 5px black ;
font-style: ;
}

/* inputs */

input, select{
    display: block;
    width: 50%;
        margin: 10px auto;         /* center horizontally */

    padding: 12px;

    border-radius: 8px;
    border: none;
    outline: none;

    font-size: 14px;

    background: rgba(255,255,255,0.8);
}


input:focus, select:focus{
    border: 2px solid #0077b6;
    background: white;
}

button{
    width: 50%;
    padding: 12px;

    background: linear-gradient(90deg, #0077b6, #023e8a);
    color: white;

    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 500;

}

#train-result,
#pnr-result,
#booking-list{
    color:black;
margin-top:20px;
background:white;
padding:15px;
width:300px;
margin-left:auto;
margin-right:auto;
box-shadow:0 0 5px gray;
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    background: rgba(0, 0, 0, 0.8);
    color: white;

    text-align: center;
    padding: 10px;

    font-size: 14px;
}
.contact-box{
    width: 80%;
    margin: 40px auto;
    padding: 25px;

    background: rgba(255,255,255,0.9);
    color: black;

    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    text-align: left;
    line-height: 1.6;
}

.contact-box h2{
    background: #003566;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.contact-box h3{
    margin-top: 20px;
    color: #001d3d;
}

.contact-box a{
    color: blue;
    text-decoration: underline;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img{
    width: 80px;   /* adjust size */
    height: 40px;
}